body {
    color: white;
    background: rgb(20, 20, 20);
    background: radial-gradient(circle, rgb(48, 48, 48), rgb(20, 20, 20));
    background-image: url('/Img/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.primaryContent {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: fade 3s linear 0s;
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.primaryContentNoFormat {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.block1 {
    background: radial-gradient(circle, rgb(48, 48, 48), rgb(20, 20, 20));
    opacity: 0.972;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    overflow: auto;
}

.block2 {
    position: absolute;
    background: rgb(35, 41, 48);
    top: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
}

h1 {
    font-size: 50px;
}

h2 {
    color: grey;
}

h3 {
    color: white;
    font-size: 30px;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.navBar {
    overflow: hidden;
    height: 65px;
    width: 100%;
    margin: none;
    background-color: rgb(0, 0, 0);
    color: #fff;
    position: fixed;
    padding: 0 20px;
    top: 0;
    left: 0;
    z-index: 1;
}

.navBar a {
    color: #f2f2f2;
    padding: 12px 13px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin-right: 30px;
    cursor: pointer;
}

.navBar span {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.navBar a:hover {
    background-color: #ddd;
    color: #333;
}

.mainBtn {
    border: 2px solid grey;
    border-radius: 16px;
    background: transparent;
    font-size: 25px;
    color: grey;
    padding: 12px 50px;
    cursor: pointer;
}